.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    gap: 4px;
    width: 244px;
    height: 160px;
}
.card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.date {
    padding: 4px;
    background-color: rgba(0, 122, 255, 0.18);
    border-radius: 6px;
    width: fit-content;
}

.dateText {
    font-size: 11px;
    color: var(--text-gray);
}

.name {
    font-size: 14px;
    font-weight: 400;
    color: var(--text);
    word-break: break-word;
}

.container {
    display: flex;
    height: 100%;
}
