.container {
    display: flex;
    height: 100%;
    gap: 10px;
}

.wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contentContainer {
    display: flex;
    gap: 16px;
}