.container {
    background-color: var(--bg-panel);
    color: var(--text);
    display: flex;
    padding: 8px 16px 8px 8px;
    border-radius: 3px 3px 16px 3px;
    border: 1px solid var(--text-gray);
    font-size: 14px;
    width: 180px;
}

.text {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
