:root {
    --text: #383838;
    --text-gray: #979797;
    --accent-blue: #007aff;
    --text-white: #ffffff;
    --bg-gray: #f4f4f4;
    --bg-panel: #fff;
    --accent-skyblue: #eaeff4;
    --bg-gray-dark: #e8e8e8;
}
